node_modules
dist


#yarn turn off zero installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
# Project exclude paths
/.yarn/
/packages/common-cli/src/core/core-file-gen.d.ts
/packages/common-cli/src/core/core-file-gen.js
/packages/common-cli/src/core/core-fxns.d.ts
/packages/common-cli/src/core/core-fxns.js
/packages/common-cli/src/core/core-logging.d.ts
/packages/common-cli/src/core/core-logging.js
/packages/common-cli/src/core/core-objects.d.ts
/packages/common-cli/src/core/core-objects.js
/packages/common-cli/src/index.d.ts
/packages/common-cli/src/index.js
/packages/graphqlsifier/public-api.d.ts
/packages/graphqlsifier/public-api.js

### Node Logs###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*