# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/server/assets

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/node_modules-reserve

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/server/assets

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*




#yarn turn off zero installs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
# Project exclude paths
/.yarn/
/packages/common-cli/src/core/core-file-gen.d.ts
/packages/common-cli/src/core/core-file-gen.js
/packages/common-cli/src/core/core-fxns.d.ts
/packages/common-cli/src/core/core-fxns.js
/packages/common-cli/src/core/core-logging.d.ts
/packages/common-cli/src/core/core-logging.js
/packages/common-cli/src/core/core-objects.d.ts
/packages/common-cli/src/core/core-objects.js
/packages/common-cli/src/index.d.ts
/packages/common-cli/src/index.js
/packages/graphqlizer/public-api.d.ts
/packages/graphqlizer/public-api.js

### Node Logs###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*